* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
}
a {
    color: rgb(63, 63, 63);;
}

body {
    padding: 0px;
    width: 960px;
    margin: auto;
    min-height: 100vh;
    height: 100%;
    background-color: rgb(245, 237, 237);
}

ul {
    padding: 0px;
}